header {
  background-color: #f4f6f7;
}
.header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.header__title {
  width: 439px;
  padding: 15px 0;
  padding-right: 60px;
  box-sizing: border-box;
}
.header__list {
  width: 293px;
  padding: 15px 47px;
  border-left: 1px solid #dfe5e8;
  border-right: 1px solid #dfe5e8;
  height: 100%;
  box-sizing: border-box;
}
.header__nav{
  width: 440px;
  padding-left: 28px;
}
.header__nav nav {
  padding-left: 10px;
}
.header__nav ul li {
  padding-left: 30px;
}
.header__nav ul li > a {
  padding: 0;
  font-size: 14px;
}
header a {
  color: #5f727f;
  padding-right: 16px;
}
header p{
  color: #5f727f;
}
.header button {  
  height: 30px;
  width: 87px;
  background-color: #494c64;
  color: white;
  border-radius: 5px;
}

i.fas.fa-map-marker-alt {
  font-weight: 500;
}
i.fab.fa-youtube {
  color: red;
}
i.fa-angle-right {
  color: #71828d;
}
i.fas.fa-angle-right {
  padding-right: 5px;
  font-weight: 300;
}
i.fas.fa-headphones {
  font-size: 16px;
  padding-right: 5px;
}
