@import '../varibale.scss';
@import '../mixi/heightWidth.scss';
@import '../module.scss';
@import '../mixi/padding.scss';
@import '../mixi/mixigrops.scss';
@import '../module.scss';


.choosing {
  @include padding(123px, 0, 136px, 0);
  @include responsive(768px) {
    @include padding(50px, 0, 0, 0);
  }
  & > .container {
    @extend %d-flex;
    @extend %ju-between;
    @include responsive(768px) {
      justify-content: center !important;
    }
    @include responsive(600px) {
      justify-content: center !important;
    }
    @media all and (min-width: 768px) {
      .choosing > .container {
        justify-content: space-evenly;
      }
    }
    .card {
      @include height-width(auto, 345px);
      padding: 62px 0;
      border-bottom: 1px solid $gray-22;
      @include responsive(576px) {
        text-align: center;
        height: 180px;
      }
      @include responsive(992px) {
        border-bottom: 1px solid #d6dde0 !important;
      }
      &:nth-child(n+4) {
        border-bottom: none;
      }
      &--title {
        @include responsive(576px) {
          padding-right: 0;
        }
        h3 {
          position: relative;
          color: $grayDark-15;
          font-weight: 300;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -20%;
            height: 50px;
            width: 50px;
            transform: translateY(-25%);
            border-radius: 50%;
            background-color: $grayDark-30;
            @include responsive(576px) {
              left: 0;
            }
            @include responsive(992px) {
              display: none;
            }
          }
        }
      }
      &-text {
        p {
          padding-top: 50px;
          color: #7c8c96;
          font-family: $font-title;
        }
      }
    }
  }
  &--title {
    text-align: center;
    font-family: $font-title;
    font-size: 50px;
    color: $grayDark-15;
    padding-bottom: 117px;
    @include responsive(576px) {
      font-size: 20px;
      padding-bottom: 30px;
    }
    span {
      font-weight: 300;
    }
  }
}
