@import '../varibale.scss';
@import '../mixi/heightWidth.scss';
@import '../module.scss';
@import '../mixi/padding.scss';
@import '../mixi/mixigrops.scss';
@import '../module.scss';

%wh {
  @include height-width(293px, 293px);
}

.studies {
  @include padding(130px, 0 ,120px, 0);
  @include responsive(576px) {
    @include padding(50px, 0 ,50px, 0);
  }
  &--title {
    h2 {
      font-size: 50px;
      text-align: center;
      padding-bottom: 85px;
      @include responsive(576px) {
        padding-bottom: 30px;
      }
      span {
        font-weight: 300;
      }
    }
  }
  &-text {
    max-width: 1200px;
    color: $gray-62;
    text-align: center;
    font-size: 17px;
    font-family: $font-text;
  }

  &__groups {
    text-align: center;
    margin-top: 115px;
    margin-bottom: 85px;
    @include responsive(576px) {
      margin: 30px 0 30px 0;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
    }
    & > .btn {
      @include height-width(30px, 140px);
      border-radius: 24px;
      margin-right: 15px;
      font-family: $font-title;
      border: none;
      @include responsive(576px) {
        margin: 5px 0;
      }
      &:hover {
        cursor: pointer;
        background-color: $gray-56;
        color: $white-90;
      }
    }
    .btn-all {
      width: 70px;
      @include responsive(576px) {
        width: auto;
      }
    }
  }
  &--block {
    @include height-width(879px,1170px);
    margin: auto;
    
    @include responsive(1190px) {
      @include height-width(400px,80%);
      background-color: $gray-20;
      display: block !important;
      margin:auto auto 50px auto;
    }
    .block-items2 {
      height: 293px;
      display: grid;
      grid-template-columns: auto auto;
      @include responsive(1190px) {
        display: none !important;
      }
    }
    .block-items1 {
      max-width: 1170px;
      display: grid;
      grid-template-columns: auto auto;
      @include responsive(1190px) {
        display: none !important;
      }
    }
    .block1 {
      @include height-width(586px, 586px);
      background-color: $gray-20;
    }
    .block2 {
      @include height-width(293px, 586px);
      background-color: $gray-50;
    }

    .item-sup {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .sup1 {
      @extend %wh;
      background-color: $gray-50;
    }
    .sup2 {
      @extend %wh;
      background-color: $gray-20;
    }
    .sup3 {
      @extend %wh;
      background-color: #ced9de;
    }
    .sup4 {
      @extend %wh;
      background-color: $gray-56;
    }
    .sup5 {
      @extend %wh;
      background-color: $gray-56;
    }
    .sup6 {
      @extend %wh;
      background-color: $gray-56;
    }
    .item-sup2 {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  .btn-bottom {
    text-align: center;
    max-width: 1170px;
    margin: 107px auto auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 30%;
    @include responsive(576px) {
      margin: 0;
    }
    button {
      @include height-width(50px, 200px);
      position: relative;
      background-color: $white-90;
      border: 1px solid $greenPeace-20;
      border-radius: 24px;
      color: $greenPeace-20;
    }
    & > div {
      height: 10px;
      flex: 30%;
      border-top: 1px solid $greenPeace-20;
      border-bottom: 1px solid $greenPeace-20;
      box-sizing: border-box;
    }
    
    .bottom-border1 {
      margin-right: 21px;
      @include responsive(576px) {
        margin: 0;
      }
    }
    .bottom-border2 {
      margin-left: 21px;
      @include responsive(576px) {
        margin: 0;
      }
    }
  }
}