@import '../varibale.scss';
@import '../mixi/heightWidth.scss';
@import '../module.scss';
@import '../mixi/padding.scss';
@import '../module.scss';
@import '../mixi/mixigrops.scss';

.vacancies {
  @extend %d-flex;
  align-items: unset;
  flex-wrap: initial; 
  @include padding (130px, 0, 130px, 0);

  h2 {
    margin-bottom: 50px;
    font-size: 24px;
  }
  &__nav {
    .vacancies-items {
      @include height-width(170px, 360px);
      background-color: $white-70;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(n+2) {
        margin: 25px 0;
      }
      .vacancies-introduce {
        h3 {
          font-size: 24px;
          font-weight: 300;
          font-family: $font-text;
          color: $gray-80;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: $gray-56;
          padding: 15px 0 10px 0;
          font-family: $font-text;
        }
        .number {
          font-family: $font-title;
          font-size: 16px;
          color: $greenPeace-20;
          font-weight: 700;
          padding: 0;
        }
      }
    }
    .vacancies-circle {
      @include height-width(80px, 80px);
      border-radius: 50%;
      background-color: $gray-20;
      margin-right: 15px;
    }
  }

  &__tabs {
    margin-left: 66px;

    .vacancies__tabs--list {

      button {
        @include height-width(50px, 160px);
        color: $gray-62;
        border-radius: 0;
        font-family: $font-title;
        font-size: 14px;
        margin-right: 10px;
        border: none;
        &:hover {
          background-color: $white-90;
          font-weight: 700;
          border: 1px solid $gray-20;
        }
       
      }
      .active {
        background-color: $white-90;
        font-weight: 700;
        border: 1px solid $gray-20;
      }
    }
    .vacancies__tabs--active {
      @include height-width(495px, 766px);
      margin-top: 15px;
      border: 1px solid $gray-20;
      .rectangle {
        @include height-width(230px, 350px);
        background-color: $gray-20;
        margin: 42px;
        flex: 50%;
      }
    }
    .tabs-one {
      display: grid;
      grid-template-columns: auto auto;
      .one-title {
        margin: 42px 13px 42px 0;
        font-size: 19px;
        font-family: $font-text;
        h3 {
          font-family: $font-title;
          margin-top: -5px;
        }

        p {
          color: $gray-55;
          margin-top: 15px;
        }
      }
    }
    .tabs-two {
      @extend %d-flex;
      margin-bottom: 50px;
      justify-content: space-around;
      
      & > .nav-bars {
        margin-left: -15px;
      }
      nav {
        ul {
          li {
            color: $gray-57;
            font-family: $font-text;
            padding: 8px 0;
            &::before {
              content: "";
              background: $greenPeace-20;
              font-weight: bold;
              display: inline-block;
              width: 5px;
              height: 5px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
@include responsive (576px) {
  .vacancies {
    padding: 50px 0;
    flex-wrap: wrap;
  }
  .vacancies h2 {
    text-align: center;
  }
  .vacancies__nav--list {
    width: 100%;
  }
  .vacancies__nav--list .vacancies-items {
    width: auto;
  }
}
@include responsive (768px) {
  .vacancies { 
    flex-wrap: wrap;
  }
  .vacancies__tabs {
    margin-left: 0;
  }
  .vacancies__nav {
    width: 100%;
  }
  .vacancies__tabs--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .vacancies__tabs .vacancies__tabs--active {
    width: auto;
    height: auto;
  }
  .vacancies__tabs .vacancies__tabs--active .tabs-one {
    display: block;
  }
  .vacancies__tabs .vacancies__tabs--active .tabs-one .rectangle {
    margin: 15px auto;
    width: auto;
  }
  .vacancies__tabs .vacancies__tabs--active .tabs-one .one-title {
    margin: 0 13px 42px 13px;
  }
  .vacancies__tabs .vacancies__tabs--list button {
    margin: 10px;
  }

  .tabs-two nav {
    margin-left: 0;
  }
  .tabs-two > .nav-bars {
    margin-left: 0;
  }
}
@include responsive (992px, 768px) {
  .vacancies { 
    flex-wrap: wrap;
  }
  .vacancies__nav {width: 100%;}
  .vacancies__nav--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
  }
  .vacancies__nav--list .vacancies-items:nth-child(n+2) {
    margin:0 10px;
  }
  .vacancies__nav--list .vacancies-items:nth-child(n+3) {
    margin-top: 20px;
  }
  .vacancies__tabs {
    margin: 0;
  }
  .vacancies__tabs .vacancies__tabs--active {
    width: auto;
  }
  .vacancies h2 {
    margin-top: 20px;
    text-align: center;
  }
}
@include responsive(1200px, 992px) {
  .vacancies { 
    flex-wrap: wrap;
  }
  .vacancies h2 {
    text-align: center;
    margin: 10px 0;
  }
  .vacancies__nav{
    width: 100%;
  }
  .vacancies__tabs {
    margin-left: 0;
    width: 100%;
  }
  .vacancies__nav--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .vacancies__nav--list .vacancies-items:nth-child(n+2) {
    margin:0 ;
  }
  .vacancies__tabs--list {
    text-align: center;
    margin: 10px 0;
  }
  .vacancies__tabs .vacancies__tabs--active {
    margin: auto;
  }
}
